.portfolio-container h1 {
  text-align: center;
  margin-bottom: 40px;
}

.portfolio-image {
  width: 100%;
  vertical-align: top;
  border-radius: 10px;
  margin-bottom: 10px;
}

.project-cover-text {
  display: none;
}

.project-cover {
  position: relative;
}

.project-cover:hover .project-cover-text {
  display: flex;
  position: absolute;
  width: 94%;
  margin-top: 18%;
  padding: 20px;
  background-color: rgb(143, 182, 211);
  z-index: 100;
  justify-content: space-between;
}

.project-cover:hover img {
  filter: blur(5px);
}

.github {
  text-align: left;
}

.project-name {
  align-items: center;
  font-weight: bolder;
}
.deployed {
  text-align: right;
}

.github:hover a{
  color:white;
}

.deployed:hover a{
  color:white;
}

a:visited {
  color: black;
}


.col-1 {
  width: 49%;
  float: left;
}

.col-2 {
  width: 49%;
  float: right;
}

@media screen and (max-width: 1100px) {
  .col-1 {
    width: 100%;
  }

  .col-2 {
    width: 100%;
  }
}
