.resume-container {
  text-align: center;
  background-color: whitesmoke;
  margin: 100px 300px 120px 300px;
  border-radius: 20px;
  height: 480px;
}

.resume-container h1 {
    padding-top: 20px;
}

.resume-container ul li {
  list-style: none;
  margin: 15px;
}

.resume-button {
  padding:15px;
  width: 250px;
  border: none;
  border-radius: 10px;
  background-color: lavender;

  margin: 0px auto 150px auto;
}
.resume-button:hover {
  background-color: lavender;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

  
}
a:visited {
  color: black;
}
a:active {
    color: black;

}

@media screen and (max-width: 1290px) {
  .resume-container{
    margin: 0;
  }
}