.resume img {
  width:100%;
  margin: 0 auto;
}

.resume-container {
  text-align: center;
  margin: 10px 300px 100px 300px;
}
.resume-button {
  padding:15px;
  width: 250px;
  border: none;
  border-radius: 10px;
  background-color: lavender;
  margin: 10px auto 0px auto;
  font-family: sora;
}
.resume-button:hover {
  background-color: lavender;
  outline: 2px solid white;
  outline-offset: -4px;

  
}
a:visited {
  color: black;
}
a:active {
    color: black;

}

@media screen and (max-width: 1600px) {
  .resume-container{
    margin: 0;
  }
}