.container {
  margin: 0px;
  text-align: center;
  margin-top: 100px;
}

.about-me-container .pic-container {
  width: 50%;
  text-align: center;
  padding: 25px;
}

.profile-pic {
  width: 250px;
  height: 250px;
  border-radius: 100%;
}
