@font-face {
  font-family: pacifico-regular;
  src: url(../../assets/Fonts/Pacifico-Regular.ttf);
}

.container {
  margin: 0px;
  text-align: center;
  margin-top: 50px;
}

.about-me-container {
  text-align: center;
  margin-bottom: 50px;
  margin: 0 200px 50px 200px;
  padding: 50px;
}

.about-me-container h1 {
  font-family: pacifico-regular;
  margin-bottom: 20px;
}

.pic-container {
  max-width: 250px;
  margin: 0 auto;
  position: relative;
  text-align: center;
}

.profile-pic {
  width: 250px;
  height: 250px;
  border-radius: 100%;
  margin-bottom: 20px;
  display: block;
  outline: 2px solid white;
  outline-offset: -4px;
}

.pic-container::before {
  content:"";
  text-align: center ;
  position:absolute;
  inset:-15px;
  border: 10px solid white;
  border-top-color: rgba(255,255,255, 0) ;
  border-bottom-color: rgba(255,255,255, 0) ;
  border-radius: 100%;
  z-index: 1;
  animation: spin 3s linear infinite;
}

@keyframes spin {
  to{ transform: rotate(360deg);}
}


@media screen and (max-width: 1290px) {
  .about-me-container{
    margin: 0;
  }
}
