* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(/src/assets/img/background3.jpg);
  background-size: cover;
  height: 100%;
}

main {
  margin: 0px 100px;
  background-color: rgba(231, 228, 225, 0.75);
  padding: 0px 20px;
  min-height:100vh;
  box-shadow:0 0 50px rgba(0, 0, 0, 0.75) ;
}


@media screen and (max-width: 914px) {
  main {
    margin: 0px 20px;
  }
}