header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
}
header h1 {
  width: 100%;
  text-align: center;
  padding: 20px;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  width: 100%;
}

.nav-header nav li {
  padding: 20px 100px;
  color: black;
}

a {
  text-decoration: none;
}

.nav-header li:hover {
  background-color: rgba(255, 255, 255, 0.25)
}


a:visited {
  color: black;
}

.active {
  background-image: url(../../assets/img/background3.jpg);
  border-radius: 10px;;
}

@media screen and (max-width: 1480px) {
  nav ul li {
    
    width: 100%;
    text-align: center;
  }
}
