header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
}
header h1 {
  width: 100%;
  text-align: center;
  padding: 20px;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  width: 100%;
}

nav li {
  padding: 20px 100px;
}

a {
  text-decoration: none;
}

li:hover {
  background-color: rgba(255, 255, 255, 0.25)
}

a:visited {
  color: black;
}


@media screen and (max-width: 1330px) {
  nav ul li {
    display: block;
    width: 100%;
    text-align: center;
  }
}
